<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ee9faa">  <td>19/10/25 18:36:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OustAppSignInAPI.Test_OustSigninAPI()[pri:1, instance:AppAPI.OustAppSignInAPI@485a3466]">Test_OustSigninAPI</td> 
  <td>main@1705277839</td>   <td></td> </tr>
<tr bgcolor="638263">  <td>19/10/25 18:37:12</td>   <td>13266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCourse.CreateCourseAPI()[pri:3, instance:AppAPI.CreateCourse@25748410]">CreateCourseAPI</td> 
  <td>main@1705277839</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>19/10/25 18:37:14</td>   <td>15167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAssessment.CreateAssessmentAPI()[pri:3, instance:AppAPI.CreateAssessment@2b43529a]">CreateAssessmentAPI</td> 
  <td>main@1705277839</td>   <td></td> </tr>
<tr bgcolor="f3ddb1">  <td>19/10/25 18:37:16</td>   <td>16984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DistributeCourse_Portal.DistributeCourse_PortalAPI()[pri:4, instance:AppAPI.DistributeCourse_Portal@4264b240]">DistributeCourse_PortalAPI</td> 
  <td>main@1705277839</td>   <td></td> </tr>
<tr bgcolor="bd7b6a">  <td>19/10/25 18:37:17</td>   <td>18423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DistributeCourse_Central.DistributeCourseCentralAPI()[pri:5, instance:AppAPI.DistributeCourse_Central@5b04476e]">DistributeCourseCentralAPI</td> 
  <td>main@1705277839</td>   <td></td> </tr>
</table>
